* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.grid {
   display: flex; 

}

.grid div {
  flex: 1;
  height: 200px;
  background-color: #cccccc;
  margin: 20px;
}

.grid .one {
  background-color: #619B8A;
}

.grid .two {
  background-color: rgb(35, 61, 77);
}

.grid .three {
  background-color: #FE7F2D;
}

.grid .four {
  background-color: #FCCA46;
}


