* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.grid {
   display: flex; 

}

.grid div {
  flex: 1;
  height: 200px;
  background-color: #cccccc;
  margin: 20px;
}

.grid .one {
  background-color: #48D1CC;
}

.grid .two {
  background-color: rgb(128, 128, 128);
}

.grid .three {
  background-color: rgba(28, 133, 153, 0.75);
}

.grid .four {
  background-color: darkolivegreen;
}


}

.parent .one {
  position: absolute;
  top: 270px;
  left: 190px;
  color: rgba(243, 105, 63, 0.4);
  font-size: 68px;
}


